#svg {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: contain;
    max-width: 730px;
}

#correct-answer, #incorrect-answer, #crash-answer {
    text-align: center;
}

#toast-container {
    transform: translateX(50%) translateY(50%);
    top: 5% !important;
    right: 50% !important;
    bottom: auto !important;
    left:auto !important;
}

@media only screen and (max-width:435px) and (min-width:100px){
    #junction-demo-button{
        margin-left: 0.5em;
    }
    #junction-solution-button{
        margin-top:0.5em;
    }
}