#namesday-widget {
    min-height: 260px;
}

#name-input-label{
    color:white;    
    width: 70%;
}

#namesday-card-title{
    margin-bottom:20px;
}

#namesday-input{
    color:white;
}

#result{
    color:black;
    width:200px;
}

.validate {
    color:white;
}

input[type="text"] + label {
    pointer-events: none;
}

@media only screen and (max-width:1641px){
    #namesday-input{
        padding-top:20px;
    }
    
    #name-input-box{
        left: -15px;
    }
}


@media only screen and (max-width:1085px){
    #namesday-input{
        padding-top:15px;
    }

    #name-input-box{
        left: -20px;
        width: 125px;
    }
}

@media only screen and (min-width: 100px) and (max-width: 993px){
    #namesday-input{
        padding-top:0;
    }

    #name-input-box{
        left:0;
        width: 100%;
    }
}

#namesday-feature-popup {
    color: white;
}

.material-tooltip {
    border-radius: 20px;
    color: white;
    max-width: 250px;
    background-color: darkred;

}