#namesday-widget {
    min-height: 260px;
}

#name-input-label{
    color:white;    
    width: 70%;
}

#namesday-card-title{
    margin-bottom:20px;
}

#namesday-input{
    color:white;
}

#result{
    color:black;
}

.validate {
    color:white;
}

input[type="text"] + label {
    pointer-events: none;
}