#left-col{
    
}
#mid-col{
    margin-top:15em;
}
#right-col{
    position: absolute;
    right: 0;
    width: 35%;
}


#main-section {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top:1em;
  width: 100%;
}


#authors-cards{
    display: flex;
    flex-direction: row;
}

.author-photo{
    height:330px;
    object-fit:contain;
}

.copyright-row{
    margin-top:-20px;
}

footer .container .row:nth-of-type(2){
    display:flex;
}

#junc-thumbnail{
    margin-left:-50px;
    margin-right:100em;
}

.sidenav-trigger{
    display:none;
}