#left-col{
    
}
#mid-col{
    margin-top:15em;
}
#right-col{
    position: absolute;
    right: 0;
    width: 35%;
}


#main-section {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top:1em;
  width: 100%;
}

#authors{
    margin-bottom:1em;
}

#authors-cards{
    display: flex;
    flex-direction: row;
}

.author-photo{
    height:330px;
    object-fit:contain;
}

.copyright-row{
    margin-top:-20px;
}

footer .container .row:nth-of-type(2){
    display:flex;
}

#main-section > div.section.no-pad-bot > div > div:nth-child(5) > table{
    margin-bottom: -60px;
}

#junc-thumbnail{
    margin-left:-50px;
    margin-right:100em;
}

.sidenav-trigger{
    display:none;
}

.junc-list-container{
    height: 2em;
    width: fit-content;
}

.junc-list-container span{
    min-width: 2rem;
    width:2rem;
}

#svg{
    background-size: contain;
}