body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.icon-block {
    padding: 0 14px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.switch {
    margin: .2vh 0;
}