body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.icon-block {
    padding: 0 14px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.div-wrapper  {
    text-align: center;
}

.divider {
    display: inline-block;
    width: 70%;
}

.author-photo {
    width: 15em;
    height: auto;
    filter: drop-shadow();
    border-radius: 50%;
}

.icon-block {
    text-align: center;
}

.task-span {
    color: black;
}

.input-field .prefix.active {
    /* color: #004d40 ; */
    color: white;
}

body > .row {
    margin: auto 0;
}

.helper-text {
    display: hidden;
}