body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.icon-block {
    padding: 0 14px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.div-wrapper  {
    text-align: center;
}

.divider {
    display: inline-block;
    width: 70%;
}

.author-photo {
    width: 15em;
    height: 20em;
    object-fit: cover;
    filter: drop-shadow();
    /* filter: grayscale(); */
    border-radius: 50%;
}

.icon-block {
    text-align: center;
}

.task-span {
    color: black;
}

.input-field .prefix.active {
    /* color: #004d40 ; */
    color: white;
}

body > .row {
    margin: auto 0;
}

.helper-text {
    display: hidden;
}

.author-icons {
    text-align: center;
}

.author-icons ul {
    white-space: nowrap;
    margin: 0;
    margin-top: 24px;
}

.author-icons li {
    display: inline;
}

table.centered .task {
    text-align: left;
}

#junc-thumbnail {
    width: 60%;
    height: auto;
    -webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.69);
    box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.69);
}

.card .card-title {
    font-weight: normal;
}

.card-content {
    padding-top: 12px;
}